@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  .footer {
    bottom: 0;
    width: 100%;
    margin-top: 80px;
    background-color: #8e71c3; 
    padding: 10px 0; 
  }

  .img-portada {    
    object-fit: cover;
    height : 350px !important;
    justify-content: center;
    align-self: center;
    background-color: #FDFCF8;
    overflow: hidden;
  }

  .img-portada-2{    
    object-fit: cover;
    width: 350px !important;
    justify-content: center;
    align-self: center;
    background-color: #FDFCF8;
    overflow: hidden;
  }
  

  .div-img-portada {
    background-color: #ffffff;
  }

 
  #more {
    display: none;
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }

  .text-small {
    font-size: 85%;
  }

  .dropdown-toggle:not(:focus) {
    outline: 0;
  }

  .nav-bgcolor-custom {
    background-color: #8e71c3;
  }

  .btn-bgcolor-custom {
    background-color: #6F42C1 ;
    color: #FFFFFF; 
  }
  .btn-bgcolor-custom {
    background-color: #6F42C1 ;
    color: #FFFFFF; 
  }

  .btn-bgcolor-custom:hover {
    background-color: none;
    color:#6F42C1; 
    border-color: #6F42C1;
  }

  .btn-outline-custom {
      border-color: #6F42C1 ;
      color: #6F42C1;
      margin-right: 5px; 
  }

  .btn-outline-custom:hover {
      background-color: #6F42C1; 
      color: #FFFFFF; 
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .card-text-autor {
    font-size: 1rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-bottom: 0;
  }
  .card-text-genero {
    font-size: 1rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-bottom: 5px;
    margin-top: 5px;

  }
  
  .card-text-titulo {
    font-size: 1.2rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 500;
    margin-bottom: 0;
  }

  .card-text-ubi {
    font-size: 0.8rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-top: 1.5%;
  }
  .text-resumen {
    font-size: 1rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .card-body{
    display: flex; 
    flex-direction: column; 
    flex-grow: 1;
  }




@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bd-mode-toggle {
  z-index: 1500;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.nav-bgcolor-custom {
  background-color: #FDFCF8;
}

.modal{
  background-color: #FDFCF8;
}

.btn-bgcolor-custom {
  background-color: #6F42C1 ;
  color: #FFFFFF; 
}

.btn-bgcolor-custom:hover {
  background-color: none;
  color:#6F42C1; 
}

.btn-outline-custom {
    border-color: #6F42C1 ;
    color: #6F42C1;
    margin-right: 5px; 
}

.btn-outline-custom:hover {
    background-color: #6F42C1; 
    color: #FFFFFF; 
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  background-color: #FDFCF8;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.border-dashed { 
  --bs-border-style: dashed; }


.profile-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.profile-picture {
  max-width: 200px;
  border: 5px solid #ffffff;
}
.btn-edit-profile {
  background-color: #6F42C1;
  color: #ffffff;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card-header {
  background-color: #6F42C1;
  color: white;
  text-align: center;
  font-weight: bold;
  border-bottom: none;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  border-radius: 10px;
}
.btn-primary {
  background-color: #6F42C1;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #6F42C1;
}

.btn-primary:active {
  background-color: #9682bc;
}

.btn-primary:focus {
  background-color: #6F42C1;
}

.btn-secondary {
  background-color: #6F42C1;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.btn-secondary{
  background-color: #9177c0;
}

.btn-secondary:hover{
  background-color: #9177c0;
}

.btn-secondary.active{
  background-color: #6F42C1;
}

.btn-secondary.focus{
  background-color: #6F42C1;
}

.my-image{
  height : 300px !important;
  width: 300px !important
}

.modal-body p {
  margin-bottom: 5px; 
}

.badge-pen{
  background-color: #6F42C1; 
}

.badge-pro{
  background-color: #b59ee0; 
}

.badge-fin{
  background-color: #eae7eb; 
  color: #6F42C1;
}

.badge-genero{
  background-color: #d6d3dc; 
  color: #8d6fc6;
}

.link{
  text-decoration:none;
  color: #FFFFFF; 
}

a {
  text-decoration: none;
}

.page-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.book-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.2s ease-in-out;
}

.book-card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.badge {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.badge-genre {
  background-color: #007bff;
  color: #fff;
}

.badge-status {
  background-color: #28a745;
  color: #fff;
}