@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .img-portada {

    height: 650px;
    
    object-fit: cover;
    
  }

  .card-book-img{
    align-self: center;
    height: 480px;
    width: 500px;
  }

  #more {
    display: none;
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }

  .text-small {
    font-size: 85%;
  }

  .dropdown-toggle:not(:focus) {
    outline: 0;
  }

  .nav-bgcolor-custom {
    background-color: #FDFCF8;
  }

  .btn-bgcolor-custom {
    background-color: #6F42C1 ;
    color: #FFFFFF; 
  }
  .btn-bgcolor-custom {
    background-color: #6F42C1 ;
    color: #FFFFFF; 
  }

  .btn-bgcolor-custom:hover {
    background-color: none;
    color:#6F42C1; 
  }

  .btn-outline-custom {
      border-color: #6F42C1 ;
      color: #6F42C1;
      margin-right: 5px; 
  }

  .btn-outline-custom:hover {
      background-color: #6F42C1; 
      color: #FFFFFF; 
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .card-text-autor {
    font-size: 1rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-bottom: 0;
  }
  .card-text-titulo {
    font-size: 1.2rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 500;
    margin-bottom: 0;
  }

  .card-text-ubi {
    font-size: 0.8rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-top: 1.5%;
  }
  .card-body{
    display: flex; 
    flex-direction: column; 
    flex-grow: 1;
  }

  .footer {
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Set your desired background color */
    padding: 10px 0; /* Adjust the padding as needed */
}



@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bd-mode-toggle {
  z-index: 1500;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.nav-bgcolor-custom {
  background-color: #FDFCF8;
}

.btn-bgcolor-custom {
  background-color: #6F42C1 ;
  color: #FFFFFF; 
}

.btn-bgcolor-custom:hover {
  background-color: none;
  color:#6F42C1; 
}

.btn-outline-custom {
    border-color: #6F42C1 ;
    color: #6F42C1;
    margin-right: 5px; 
}

.btn-outline-custom:hover {
    background-color: #6F42C1; 
    color: #FFFFFF; 
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}